.App {
  height: calc(100% - 50px);
}


input[type="text"].input {
  width: 150px;
  border: none;
  border-radius: 2px;
  padding: 3px 7px;
  font-size: 0.8rem;
}
button.btn.M { width: 150px; height: 42px; }
button.btn.def { background-color: #40444F; color: #fff; }
button.btn.def:hover { background-color: #494d58; }
button.btn.ok { background-color: #4054E1; color: #fff; }
button.btn.ok:hover { background-color: #495dea; }
